<template>
    
</template>

<script>
    export default {
        props: ['originQ'],

        data() {
            return {
                minChars: 3,
                q: this.originQ
            }
        },

        mounted() {
            this.$refs.input.focus();
            this.$refs.input.setSelectionRange(this.q.length, this.q.length);
        },

        watch: {
            q: _.debounce(function () {
                if (this.q.length === 0 || this.q.length >= this.minChars) {
                    this.submitForm();
                }
            }, 600, {trailing: true})
        },

        methods: {
            submitForm() {
                this.$refs.form.submit();
            }
        }
    }
</script>