/**
 * @file
 * Generic styles
 */

/**
 * Accessibility features.
 */

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
%element-invisible {
    @include element-invisible;
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
    @include element-invisible-off;
}

.element-focusable,
%element-focusable {
    @extend %element-invisible;

    &:active,
    &:focus {
        @extend %element-invisible-off;
    }
}

// wrappers
.wrapper {
    @extend %wrapper;
}

// share links
.share-links {
    ul {
        @extend %clearfix;
        li {
            float: left;
            margin-left: -8px;
            a {
                @include iconize(0, -100px, 2, 2);
                outline: none;
                transition: all .3s ease;
                &:hover {
                    opacity: .5;
                }
                .label {
                    display: none;
                }

                &[data-social-network="facebook"] {
                    background-position: 0 -100px;
                }
                &[data-social-network="twitter"] {
                    background-position: -50px -100px;
                }
                &[data-social-network="watsapp"] {
                    background-position: -100px -100px;
                }
                &[data-social-network="telegram"] {
                    background-position: -150px -100px;
                }
            }
        }
    }
}

// pagination
.pagination {
    clear: both;
    margin: 30px 0;
    padding: 0;
    text-align: center;

    // normal pager
    .pager-item {
        @extend %pager__item;
    }
    .pager-current {
        @extend %pager__item;
        color: $theme_red;
    }
    .pager-first,
    .pager-previous,
    .pager-next,
    .pager-last,
    .pager-ellipsis {
        @extend %pager__item;
    }

    .pager-previous {
        &:before {
            content: "<";
            margin-right: 5px;
        }
    }

    .pager-next {
        &:after {
            content: ">";
            margin-left: 5px;
        }
    }
}

// edit buttons
%edit-button {
    display: block;
    max-width: 60px;
    text-align: center;
    font-size: 140%;
    margin: 20px 0;
    padding: .1em .3em;
    color: $theme_red;
    background-color: white;
    border: 1px solid $theme_red;
    &:hover {
        color: white;
        background-color: $theme_red;
        border-color: white;
    }
}

a.edit-btn {
    @extend %edit-button;
}

/**
 * Forms
 */

.form-item {
    position: relative;
    margin-bottom: 20px;

    .form-item {
        margin-bottom: 10px;
    }

    .description {
        font-size: 130%;
        line-height: 1.25;
        padding: .3em 0;
    }

    .error-message {
        font-size: 130%;
        line-height: 1.25;
        padding: .3em 0;
        color: $theme_error;
    }
}

.form-actions {
    a {
        font-size: $base-font-size;
        padding: 0 10px;
        color: $theme_red;
    }
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 30px;
}

legend {
    font-size: 220%;
    font-weight: bold;
    margin-bottom: .4em;
}

label {
    margin-bottom: .4em;
    font-size: $base-font-size;
    font-weight: normal;
}

/* buttons */
a[data-action], input[type="submit"], input[type="button"], button {
    @include buttonize;
}

input[type="submit"][disabled], input[type="button"][disabled] {
    opacity: .2;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    display: block;
    font-size: 180%;
    width: 100%;
    padding: 10px;
    border: 1px solid $theme_grey_lighter;
    &.error {
        border-color: $theme_error;
    }
}

input[type="text"], input[type="email"] {
    &[size] {
        width: auto;
    }
}

select {
    background-color: $body_background;
    border-radius: 0;
    height: 43px;
}

/* radios */
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
    position: relative;
    display: block;
    padding-left: 26px;
    cursor: pointer;
}

/* shape */
input[type="radio"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before {
    display: block;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $theme_red;
    transition: all .2s;
}

/* checked shape */
input[type="radio"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after {
    display: block;
    background-color: $theme_red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all .2s;
}

/* disabled radio */
input[type="radio"]:disabled {
}

input[type="radio"]:disabled + label {
    color: #aaa;
}

input[type="radio"]:disabled + label:before {
    opacity: .4;
}

input[type="radio"]:disabled + label:after {
    opacity: .4;
}

/* checked mark changes */
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="radio"]:not(:checked) + label:hover:after,
input[type="radio"]:checked + label:after {
    opacity: 1;
}

input[type="radio"]:checked + label:after {
}

/* checkboxes */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
    position: relative;
    display: block;
    padding-left: 26px;
    cursor: pointer;
}

/* shape */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
    display: block;
    width: 16px;
    height: 16px;
    background: white;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $theme_red;
    transition: all .2s;
}

/* checked shape */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
    display: block;
    background-color: $theme_red;
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all .2s;
}

/* disabled checkbox */
input[type="checkbox"]:disabled {
}

input[type="checkbox"]:disabled + label {
    color: #aaa;
}

input[type="checkbox"]:disabled + label:before {
    opacity: .4;
}

input[type="checkbox"]:disabled + label:after {
    opacity: .4;
}

/* checked mark changes */
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:not(:checked) + label:hover:after,
input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

input[type="checkbox"]:checked + label:after {
}

/**
 * Tables
 */
table {
    border-top: 1px solid $theme_grey_lighter;
    border-left: 1px solid $theme_grey_lighter;
    th, td {
        font-size: 160%;
        padding: 5px 10px;
        border-bottom: 1px solid $theme_grey_lighter;
        border-right: 1px solid $theme_grey_lighter;
        table {
            th, td {
                font-size: 100%;
            }
        }
    }
}
