/**
 * @file
 * Page modules
 *
 */

#app {
    padding-bottom: $footer_height;
}

// header
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: $header_height;
    background-color: $theme_red;
    @media screen and (max-width: ($micro_screen_width)) {
        height: $header_height_mobile;
    }

    > .wrapper {
        @extend %clearfix;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .logo {
        display: block;
        float: left;
        width: 20%;
        padding-top: 8px;
        padding-left: $page_horizontal_padding;
        font-size: 360%;
        font-weight: bold;
        color: white;
        @media screen and (max-width: ($bigger_screen_width)) {
            font-size: 260%;
            padding-top: 14px;
        }
        @media screen and (max-width: ($mediumbig_screen_width)) {
            width: auto;
        }
        @media screen and (max-width: ($micro_screen_width)) {
            float: none;
            padding-left: 0;
            text-align: center;
        }
    }

    .search-box {
        float: left;
        width: 80%;
        height: 100%;
        padding-left: $page_horizontal_padding;
        @media screen and (max-width: ($mediumbig_screen_width)) {
            width: 60%;
        }
        @media screen and (max-width: ($micro_screen_width)) {
            float: none;
            width: auto;
            height: auto;
            padding-left: 0;
        }

        input[type="text"] {
            height: 100%;
            background: none;
            border: none;
            outline: none;
            color: white;
            padding-left: 0;
            &::placeholder {
                color: rgba(white, .66);
            }
            @media screen and (max-width: ($micro_screen_width)) {
                text-align: center;
                font-size: 160%;
                padding: 6px 0;
            }
        }
    }
}

// main
.main {
    position: relative;
    z-index: 9;
    padding-top: $header_height;
    @media screen and (max-width: ($micro_screen_width)) {
        padding-top: $header_height_mobile;
    }
}

// flash message
.flash-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

// main content
.main-content {
    padding: 50px 0;
    &.home {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// page title
h1.page-title {
    font-size: 320%;
    margin-bottom: 1em;
}

// home columns
.home {
    > .wrapper {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        @media screen and (max-width: ($mediumbig_screen_width)) {
            display: block;
        }
    }

    // filters
    .column-filters {
        position: fixed;
        top: $header_height;
        left: 0;
        width: 20%;
        height: calc(100% - 60px);
        overflow-y: auto;
        padding: 30px $page_horizontal_padding 20px;
        background-color: white;
        @media screen and (max-width: ($mediumbig_screen_width)) {
            position: static;
            top: auto;
            width: auto;
            height: auto;
            padding: 15px 20px;
        }

        form {
            @extend %clearfix;
        }

        .block {
            margin-bottom: 50px;
            @media screen and (max-width: ($mediumbig_screen_width)) {
                float: left;
                width: 33.33%;
                margin-bottom: 10px;
                padding: 0 5px;
            }
            @media screen and (max-width: ($micro_screen_width)) {
                float: none;
                width: auto;
                max-width: 240px;
                margin: 0 auto 20px;
            }

            > header {
                h2 {
                    font-size: $base-font-size;
                    color: $theme_red;
                    font-weight: 500;
                    margin-bottom: .3em;
                }
            }
        }

        .form-item {
            margin-bottom: 10px;

            label {
                font-size: 140%;
            }
        }

        .form-actions {
            a[data-action] {
                display: block;
                width: 100%;
            }

            @media screen and (max-width: ($mediumbig_screen_width)) {
                clear: both;

                a[data-action] {
                    max-width: 240px;
                    margin: 0 auto;
                }
            }
        }
    }

    .column-content {
        left: 20%;
        width: 80%;
        position: relative;
        @media screen and (max-width: ($mediumbig_screen_width)) {
            left: auto;
            width: auto;
        }

        p.is-empty {
            padding: 30px $page_horizontal_padding 0;
        }
    }
}

// campaigns list
.campaigns-list {
    > article {
        &:nth-child(even) {
            background-color: $theme_grey_lightest2;
        }
    }
}

// campaign detail
article.detail.campaign {
    @extend %clearfix;
    padding: 25px $page_horizontal_padding;

    p.date {
        color: $theme_grey_light;
        margin-bottom: .2em;
        &::first-letter {
            text-transform: uppercase;
        }
    }

    > h1 {
        font-size: 320%;
        margin-bottom: 1em;
    }

    .items-list {
        &.collapsed > ul {
            max-height: 19vw;
            @media screen and (max-width: ($mediumbig_screen_width)) {
                max-height: 23vw;
            }
            @media screen and (max-width: ($medium_screen_width)) {
                max-height: 96vw;
            }
            @media screen and (max-width: ($micro_screen_width)) {
                max-height: 280vw;
            }
        }
        > ul {
            @include simple-column-container;
            overflow: hidden;
            > li {
                @include simple-column(4, 1.5%);
                margin-bottom: 30px;
                @media screen and (max-width: ($medium_screen_width)) {
                    @include simple-column(2, 2%);
                }
                @media screen and (max-width: ($micro_screen_width)) {
                    @include simple-column(1, 0);
                }
            }
        }

        .item-teaser {
            position: relative;
            padding: 6px;
            a.edit-btn {
                position: absolute;
                top: 15px;
                right: 15px;
                margin: 0;
            }
            &[data-type="2"] {
                figure.image {
                    @include playicon;
                }
            }
            &[data-type="3"] {
                .content {
                    background-color: white;
                    padding: 15px 20px;
                    @media screen and (max-width: ($medium_screen_width)) {
                        padding: 12px;
                    }

                    p.source {
                        margin-bottom: .2em;
                        font-size: 120%;
                        color: $theme_grey_light;
                        text-transform: uppercase;
                    }

                    h2 {
                        font-size: 170%;
                        margin-bottom: .3em;
                        @media screen and (max-width: ($bigger_screen_width)) {
                            font-size: 150%;
                        }
                    }

                    .summary {
                        p {
                            margin-bottom: 0;
                            font-size: 140%;
                            color: $theme_grey_light;
                        }
                    }
                }
            }
            > a.main-link {
                display: block;
                box-shadow: 0 1px 5px 0 rgba(black, .5);
            }
            figure.image {
                box-shadow: 0 1px 5px 0 rgba(black, .5);
                &[data-mime="image/gif"] {
                    @include playicon;
                }
            }
        }
    }

    button[data-action="view-all"] {
        margin-top: 30px;
    }

    .taxonomies {
        float: right;
        margin-top: 45px;
        .taxonomy-list {
            display: inline;
            &.districts-list ul li {
                color: rgba(black, .4);
            }
            ul {
                display: inline;
                li {
                    display: inline;
                    font-size: 140%;
                    line-height: 1.4;
                    color: rgba(black, .8);
                    margin-left: 20px;
                }
            }
        }
    }
}

// item detail
article.detail.item {
    @extend %clearfix;

    .column-left {
        position: relative;
        float: left;
        width: 25%;
        padding-left: 50px;
        @media screen and (max-width: ($medium_screen_width)) {
            @include one-columnize;
            max-width: 320px;
        }
    }

    .column-center {
        position: relative;
        float: left;
        width: 50%;
        min-height: 550px;
        z-index: 10;
        padding-left: $page_horizontal_padding;
        padding-right: $page_horizontal_padding;
        @media screen and (max-width: ($medium_screen_width)) {
            @include one-columnize;
            min-height: 0;
        }
    }

    .column-right {
        position: relative;
        float: right;
        width: 25%;
        padding-right: $page_horizontal_padding;
        @media screen and (max-width: ($medium_screen_width)) {
            @include one-columnize;
            max-width: 320px;
        }

        .block {
            margin-bottom: 30px;
            > header {
                h2 {
                    font-size: 140%;
                    margin-bottom: .5em;
                }
            }
        }

        a[data-action="download"] {
            font-size: 140%;
        }
    }

    a[data-action="go-back"] {
        position: relative;
        border: none;
        border-radius: 0;
        min-width: 0;
        padding: 0;
        font-size: 140%;
        color: black;
        margin-bottom: 20px;
        &:hover {
            color: inherit;
            background-color: inherit;
        }
        &:before {
            @include iconize(-150px, 0, 1, 1);
            content: " ";
            position: absolute;
            top: -4px;
            left: -40px;
            @media screen and (max-width: ($micro_screen_width)) {
                position: static;
                float: left;
                margin: -4px 5px 0 0;
            }
        }
    }

    aside.campaign-info {
        h2.campaign-title {
            font-size: 140%;
            font-weight: normal;
            margin-bottom: 1em;
        }

        p.date {
            font-size: 140%;
            font-weight: normal;
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }

    figure.media {
        position: relative;
        max-width: 540px;
        margin: 0 auto;
        box-shadow: 0 1px 5px 0 rgba(black, .5);
        .content-pager {
            width: 100%;
            a {
                @include iconize(-50px, 0, 2, 2);
                position: absolute;
                top: 50%;
                left: -100px;
                margin-top: -25px;
                font-size: 2rem;
                transition: all .3s ease;
                @media screen and (max-width: ($medium_screen_width)) {
                    left: 0;
                }
                &.btn-pager-next {
                    left: auto;
                    right: -100px;
                    background-position: -100px 0;
                    @media screen and (max-width: ($medium_screen_width)) {
                        right: 0;
                    }
                }
                &:hover {
                    opacity: .6;
                }
                span {
                    display: none;
                }
            }
        }
        a {
            display: block;
            &.view-full-image {
                position: relative;
                &:before, &:after {
                    opacity: 0;
                    content: " ";
                    transition: all .3s ease;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(black, 0.7);
                }
                &:after {
                    @include iconize(-225px, 0, 2, 2);
                    opacity: 0;
                    content: " ";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -25px;
                    margin-top: -25px;
                }
                &:hover {
                    &:before, &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// algolia logo
.algolia-logo {
    position: absolute;
    top: 10px;
    right: $page_horizontal_padding;
    width: 120px;
    opacity: .7;
}

// footer
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footer_height;
    padding: 20px 0;
    background-color: $theme_red;

    > .wrapper {
        @extend %clearfix;
        height: 100%;
        padding-left: $page_horizontal_padding;
        padding-right: $page_horizontal_padding;
    }

    // auth menu
    .auth-menu {
        float: right;
        margin: 0 0 0 auto;

        nav {
            ul {
                display: inline;
                margin-left: 10px;
                li {
                    font-size: 140%;
                    display: inline;
                    margin-left: 10px;
                    a {
                        color: white;
                    }
                    ul {
                        li {
                            font-size: 100%;
                        }
                    }
                }
            }
        }
    }
}
