<template>
    
</template>

<script>
    import ItemsReference from './ItemsReference';
    import CreateItemForm from './CreateItemForm';

    export default {
        components: {
            ItemsReference, CreateItemForm
        },

        props: ['itemsListUri'],

        mounted() {
            this.refreshItemsReference();
        },

        data() {
            return {
                loading: false,
                items: []
            }
        },

        methods: {
            refreshItemsReference() {
                this.loading = true;

                axios.get(this.itemsListUri).then(response => {
                    this.loading = false;
                    this.items = Object.keys(response.data).map(i => response.data[i]);
                }).catch(error => {
                    this.loading = false;
                });
            }
        }
    }
</script>