<template>
    
</template>

<script>
    export default {
        props: ['posturi'],

        data() {
            return {
                loading: false,
                title: null,
                item_type_id: null,
                published: '1',
                url: null,
                source: null,
                body: null,
                video_url: null,
                image: null,
                errors: null
            }
        },

        methods: {
            onImageChange(e) {
                if (! e.target.files.length) return;

                this.image = e.target.files[0];
            },

            submitForm() {
                this.loading = true;

                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };

                axios.post(this.posturi, this.getFormData(), config).then(response => {
                    this.loading = false;
                    if (parseInt(response.status) === 201) {
                        this.$emit('item-created');
                        this.clearForm();
                        $('#modal').modal('hide');
                    }
                }).catch(error => {
                    this.loading = false;
                    this.errors = error.response.data.errors;
                });
            },

            getFormData() {
                let data = new FormData();
                if (this.title) data.append('title', this.title);
                data.append('item_type_id', this.item_type_id);
                if (this.url) data.append('url', this.url);
                if (this.source) data.append('source', this.source);
                if (this.body) data.append('body', this.body);
                if (this.video_url) data.append('video_url', this.video_url);
                if (!this.published) this.published = '0';
                data.append('published', this.published);

                if (this.image) {
                    data.append('featured_image', this.image);
                }

                return data;
            },

            clearForm() {
                this.title = null;
                this.item_type_id = null;
                this.published = '1';
                this.url = null;
                this.source = null;
                this.body = null;
                this.video_url = null;

                this.errors = null;

                return true;
            }
        }
    }
</script>