<template>
    <fieldset class="form-group">
        <legend>Items</legend>
        <div v-if="items.length" class="form-group">
            <div class="form-check form-check-inline" v-for="item in items">
                <input class="form-check-input" type="checkbox" :id="'item-'+item.id" name="items[]" :value="item.id" :disabled="loading" :checked="isSelected(item.id)">
                <label class="form-check-label" :for="'item-'+item.id" v-text="truncate(item.title, 40)"></label>
            </div>
        </div>
        <p v-else class="empty">There are no unassigned items.</p>

        <button @click.prevent="$emit('click-refresh')" class="btn btn-secondary btn-sm" :disabled="loading"><i class="fas fa-sync-alt" :class="{'fa-spin': loading}"></i> Refresh the list</button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal">Create an item</button>
    </fieldset>
</template>

<script>
    export default {
        props: ['selectedItems', 'createItemUri', 'loading', 'items'],

        methods: {
            isSelected(id) {
                return (this.selectedItems && this.selectedItems.includes(id));
            },

            truncate(str, max, ellipsis = '...'){
                console.log(str.length + ellipsis.length);
                if ((str.length + ellipsis.length) > max) {
                    return (str.substring(0, max) + ellipsis);
                } else {
                    return str;
                }
            }
        }

    }
</script>