/**
 * Dashboard styles
 */

.dashboard {
    table.table, .card .list-group-item {
        img {
            max-width: 60px;
            margin-right: 5px;
        }
    }

    input[size] {
        width: auto;
    }

    input[type="date"] {
        width: 200px;
    }

    fieldset {
        padding: 20px;
        border: 1px solid $gray-400;
        legend {
            font-size: .9rem;
            margin-bottom: 0;
            padding: .2em;
            display: inline;
            width: auto;
            background-color: $body-bg;
        }
    }

    .form-group {
        h2 {
            font-size: .9rem;
        }
    }

    .featured-image-thumb {
        img {
            max-width: 120px;
        }
    }

    .card {
        p.is-empty {
            padding: 10px 25px 0;
        }
    }
}

// flash message
.flash-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
}