/**
* External Plugins CSS
*/

// overlays
@import "../../../node_modules/jquery-colorbox/example1/colorbox.css";
#cboxOverlay {
    background: black;
}

#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight {
    display: none;
}

#cboxContent {
    padding: 0;
    overflow: visible;
}

#cboxLoadedContent {
    margin-bottom: 0;
}

#cboxClose {
    overflow: hidden;
    min-width: 0;
    width: 50px;
    height: 50px;
    bottom: auto;
    top: 0;
    right: -50px;
    background: none;
    &:before {
        @include iconize(0, 0, 2, 2);
        content: " ";
    }
}
